@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Asegurar que html y body ocupen todo el alto */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* El contenedor principal de React se vuelve flex */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}
/*subtitulos de todo el sitio */
h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
