.contacto {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc6ac;
  position: relative;
}

.contacto-container {
  background-color: #fff;
  border-top: 2px solid #000;
  padding: 3rem 0;
  box-shadow: 0px 8px 0px #e5989b;
  text-align: center;
  width: 100%;
}

/* --- Título --- */
.contacto h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

/* --- Ítems de contacto --- */
.contacto-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 1rem 0;
  font-weight: 600;
  color: #333;
  transition: transform 0.3s ease;
}

.contacto-item:hover {
  transform: scale(1.05);
}

.contacto-item svg {
  flex-shrink: 0;
  color: #000;
}

.text {
  font-weight: bold;
  color: #000;
  margin-right: 0.3rem;
}

.contacto-item a {
  color: #e5989b;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contacto-item a:hover {
  color: #a5d8ff;
}

/* --- Sección de tecnologias*/
.tecnologias {
  margin-top: 3rem;
  text-align: center;
}

.tecnologias h5 {
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.tecnologias .tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* --- Estilo de etiquetas (tags) --- */
.tecnologias .tag-contact {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 4px 4px 0px #00000020;
  transition: all 0.3s ease;
}

.tecnologias .tag-contact.html {
  background-color: #f16529;
}

.tecnologias .tag-contact.css {
  background-color: #2965f1;
}

.tecnologias .tag-contact.react {
  background-color: #61dbfb;
  color: #000;
}

.tecnologias .tag-contact:hover {
  transform: translateY(-3px);
  box-shadow: 6px 6px 0px #e5989b;
}
.footer {
  padding: 0.8rem 0;
  background-color: #000;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: #fff;
  width: 100%;
  justify-content: space-between;
}

.footer-location {
  color: #fff;
  align-items: center;
  display: flex;
  margin-left: 1rem;
}

.footer-copy {
  color: #fff;
  margin-right: 1rem;
}

.footer-copy span {
  color: #fff;
}

/* efecto hover sutil si agregas íconos o links */
.footer a {
  color: #a5d8ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #e5989b;
}
