.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 1.8rem;
}

.logo-container {
  position: relative;
}
.logo {
  background: #ffe5d9;
  border: black 2px solid;
  color: black;
  font-weight: 800;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffe5d9;
}
.nav-icon {
  margin-left: 1.2rem;
  font-size: 1.5rem;
  align-items: center;
  line-height: 0;
}

.nav-icon svg {
  transition: transform 0.3s ease;
}

.nav-icon:hover svg {
  transform: scale(1.2);
}

.menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
