/*mobile*/

@media (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
    height: 70px;
  }
  .menu-toggle {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #0f0f0f;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0;
    gap: 1.2rem;
  }

  nav.nav-open {
    display: flex;
  }
  .logo {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text h3 {
    font-size: 1rem;
  }

  .btn-primary_ {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  .hero-image img {
    max-width: 250px;
  }
}
