@media (max-width: 1200px) and (min-width: 1024px) {
  .navbar {
    padding: 0 2rem;
    height: 80px;
  }

  nav a {
    font-size: 1.1rem;
    margin: 0 1rem;
  }

  .logo {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
  }
  .hero {
    padding: 0 2rem;
  }

  .hero-container {
    gap: 2.5rem;
  }

  .hero-text h1 {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .hero-text h3 {
    font-size: 1.1rem;
  }

  .btn-primary_ {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
  }

  .hero-image img {
    max-width: 300px;
  }
}
