/*mobile*/
@media (max-width: 768px) {
  /*titulos de todo el sitio */
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  /*padding de cada seccion*/
  .about-container,
  .port-container,
  .skills-container,
  .educacion-container,
  .contact-container {
    padding: 2.5rem;
  }
  /*navbar */
  .navbar {
    padding: 0 1.5rem;
    height: 70px;
    border-radius: 0;
  }
  /*menu hamburguesa*/
  .menu-toggle {
    display: block;
  }
  /*menu hamburguesa*/
  nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #000;
    border-radius: 0 0 20px 20px;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 1.2rem;
    z-index: 1000;
  }
  nav a {
    font-size: 1.2rem;
  }
  nav.nav-open {
    display: flex;
  }
  .logo {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }
  /*hero desktop invisible*/
  .hero-container {
    display: none;
  }
  /*hero mobile visible*/
  .hero-mobile {
    display: block;
    margin-top: 1.5rem;
  }
  .hero-text h1 {
    font-size: 3rem;
    margin: 0;
  }
  .hero-text h3 {
    font-size: 1rem;
  }

  .hero-media {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .hero-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
  }
  .hero-image img {
    width: min(350px, 90vw);
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .hero-buttons {
    gap: 2.5rem;
  }
  .btn-primary_ {
    font-size: 1.4rem;
  }
  /*about me section*/
  .about-container p {
    font-size: 1rem;
  }
  .btn-primary__ {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }

  /*portfolio section*/
  .project-item {
    max-width: 350px;
  }

  /*education section*/
  .title-education h3 {
    font-size: 1.2rem;
  }
  .title-education h4 {
    font-size: 1rem;
  }
  .title-education p {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  .date-education h5 {
    font-size: 0.8rem;
  }

  /*skills section*/
  .skills-group h3 {
    font-size: 1.1rem;
  }
  .tag {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
  /*contact section*/
  .contacto-item {
    font-size: 0.8rem;
  }
}
