.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc6ac;
}
.skills-container {
  max-width: 900px;
  background-color: #a5d8ff;
  border-radius: 20px;
  border: 2px solid #000;
  padding: 3rem;
  margin: 5rem 1.5rem 0 1.5rem;
  box-shadow: 8px 8px 0px #e5989b;
  transition: transform 0.3s ease;
}
.skills-container:hover {
  transform: translateY(-5px);
}

.skills-group {
  margin-bottom: 2.5rem;
}

.skills-group h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
}

/* Colores de etiquetas */
.tag.html {
  background-color: #e44d26;
}
.tag.css {
  background-color: #264de4;
}
.tag.js {
  background-color: #f7df1e;
  color: #000;
}

.tag.bootstrap {
  background-color: #563d7c;
  color: #fff;
}
.tag.react {
  background-color: #0e7490;
}

.tag.illustrator {
  background-color: #ff9a00;
}
.tag.photoshop {
  background-color: #31a8ff;
}
.tag.vscode {
  background-color: #007acc;
}
.tag.figma {
  background-color: #a259ff;
}
.tag:not(.html):not(.css):not(.js):not(.bootstrap):not(.react):not(
    .illustrator
  ):not(.photoshop):not(.vscode):not(.figma) {
  background-color: #5b5b5b;
  color: #ffffff;
}
