name: Deploy Vite Portfolio to GitHub Pages

on:
  push:
    branches:
      - main # cambia a master si usas master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: portafolio

      - name: Build project
        run: npm run build
        working-directory: portafolio

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: portafolio/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
